doctype 5
html
  head
    title Receiver :: Sending file without saving on the server.
    link(rel='stylesheet', href='/css/style.css')
  body
    #uploadbox
      if (name)
        h2 Receiving file:
        a(href='/file/get/#{token}') Download file !{name}
      else
        h2 File not found...